/* Variables */

:root {
  --color-alpha: #fb565a;
  --color-alpha-dark: #e74246;
  --color-alpha-darkest: #d7373b;
  --color-beta: #00ca74;
  --color-beta-dark: #00bc6c;
  --color-beta-darkest: #00aa62;
  --color-gamma: #efc849;
  --color-gamma-dark: #eab534;
  --color-gamma-darkest: #e5a722;
  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;
  --color-black-light: 0, 1, 1;
  --color-neutral: #283136;
  --color-neutral-rgb: 40, 49, 54;
  --color-neutral-dark: #231f20;
  --color-neutral-light: #b4b9bb;
  --color-neutral-lightest: #d7dcde;
  --gray-238: #eeeeee;
  --gray-225: #e1e1e1;
  --gray-223: #dfdfdf;
  --gray-219: #dbdbdb;
  --gray-213: #d5d5d5;
  --gray-193: #c1c1c1;
  --gray-166: #a6a6a6;
  --gray-102: #666666;
  --gray-77: #4d4d4d;
  --gray-68: #444444;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  min-width: 1160px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: var(--color-neutral);
  background-color: rgb(var(--color-white));
  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Common*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a:not(.button):visited {
  color: rgb(var(--color-black));
}

/*Buttons*/

.button {
  display: block;
  padding: 16px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(var(--color-white));
  background-color: var(--color-alpha);
  border: none;
  border-radius: 3px;
  width: 140px;
  outline-color: transparent;
}

.button:hover {
  background-color: var(--color-alpha-dark);
}

.button:active,
.button:focus {
  color: rgba(var(--color-white), 0.3);
  background-color: var(--color-alpha-darkest);
  box-shadow: inset 0 3px 0 0 rgba(var(--color-black-light), 0.1);
}

.button-control {
  color: rgb(var(--color-black));
  background-color: var(--gray-238);
}

.button-control:hover {
  background-color: var(--gray-223);
}

.button-control:focus,
.button-control:active {
  color: rgba(var(--color-black), 0.3);
  background-color: var(--gray-213);
}

/*Header*/

.wrapper {
  width: 1160px;
  margin: 0 auto;
  outline: 7px solid rgba(102, 82, 212, 0.7);
  outline-offset: -5px;
}

.main-header {
  background-color: var(--gray-238);
  outline: 5px solid rgba(47, 224, 127, 0.5);
  outline-offset: -5px;
  margin-bottom: 0;
}

/* Main navigation */

.main-navigation {
  display: grid;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(var(--color-black));
  padding: 0;
  margin-top: 49px;
  min-height: 65px;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  outline: 5px solid rgba(87, 0, 33, 0.5);
  outline-offset: -5px;
  justify-self: center;
}

.user-navigation {
  outline: 5px solid rgba(87, 0, 33, 0.5);
  outline-offset: -5px;
  justify-self: end;
}

.main-header-logo {
  justify-self: start;
  outline: 5px solid rgba(87, 0, 33, 0.5);
  outline-offset: -5px;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.cart-link {
  position: relative;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--color-alpha);
  border-bottom: none;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(var(--color-black), 0.3);
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -20px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.current {
  border-bottom: 2px solid var(--color-alpha);
  padding-bottom: 5px; /*23px по макету*/
}

/* Slider */

.container {
  outline: 5px solid rgba(243, 117, 14, 0.7);
  outline-offset: -5px;
}

.slider {
  background-color: var(--gray-238);
  outline: 5px solid rgba(9, 0, 63, 0.3);
  outline-offset: -5px;
  margin-bottom: 80px;
  position: relative;
}

.slider-list,
.slider-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-item {
  height: 431px;
  background-position: right, center;
  background-repeat: no-repeat;
}

.slider-title {
  color: rgb(var(--color-black));
  text-transform: none;
  font-size: 55px;
  font-weight: 500;
  line-height: normal;
  width: 538px;
  margin: 0;
}

.slider-text {
  color: var(--color-neutral);
  text-transform: none;
  line-height: 24px;
  width: 400px;
  height: 49px;
}

.slide-1 {
  background-image: url(../img/nerds-index-slide1.png);
}

.slide-2 {
  background-image: url(../img/nerds-index-slide2.png);
}

.slide-3 {
  background-image: url(../img/nerds-index-slide3.png);
}

.slider-buttons {
  position: absolute;
  bottom: 80px;
  left: 250px;
  right: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.slider-button {
  width: 18px;
  height: 18px;
  margin: 6px;
  border: solid 1px transparent;
  border-radius: 9px;
  border-color: transparent;
  background-color: rgb(var(--color-white));
}

/* Services */

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.service-title {
  color: rgb(var(--color-black));
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-text {
  color: var(--color-neutral);
}

.button-green {
  background-color: var(--color-beta);
}

.button-green:hover {
  background-color: var(--color-beta-dark);
}

.button-green:active {
  background-color: var(--color-beta-darkest);
  box-shadow: inset 0 3px 0 0 rgba(var(--color-black-light), 0.1);
}

.button-yellow {
  background-color: var(--color-gamma);
}

.button-yellow:hover {
  background-color: var(--color-gamma-dark);
}

.button-yellow:active {
  background-color: var(--color-gamma-darkest);
  box-shadow: inset 0 3px 0 0 rgba(var(--color-black-light), 0.1);
}

/* About */

.about-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-row: 150px;
}

.about-title {
  color: rgb(var(--color-black));
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-subtitle {
  text-transform: uppercase;
  font-weight: 700;
}

.order-list {
  list-style: none;
}

.order-item {
  position: relative;
  margin-bottom: 24px;
}

.order-item::before {
  display: block;
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--color-alpha);
  left: -35px;
  top: 11px;
}

.about-stat .about-subtitle {
  color: rgb(var(--color-black));
}

.stat-table th {
  color: rgb(var(--color-black));
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-align: left;
}

.stat-table sup {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-bottom;
}

.stat-table td {
  line-height: 18px;
}

/* Partners */

.partners-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

/*Page-catalog*/

.page-catalog-title {
  background-color: var(--gray-238);
}

.page-catalog-title h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: rgb(var(--color-black));
}

.filter legend,
.sorting h2,
.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  color: rgb(var(--color-black));
  font-weight: 700;
  text-transform: uppercase;
}

/*Filters*/

.filter ul {
  list-style: none;
}

.price-filter span {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-input {
  display: none;
}

.filter-option label {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  margin: 10px;
}

.filter-option label::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: -30px;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-radio label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-checkbox label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input:hover + label::before {
  opacity: 1;
}

.filter-input:disabled + label {
  color: rgba(var(--color-neutral-rgb), 0.3);
}

.filter-input:disabled + label::before {
  opacity: 0.1;
}

/*Sorting*/

.sorting-options,
.sorting-control-list {
  list-style: none;
}

.sorting-options a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: rgba(var(--color-black), 0.3);
}

.sorting-options a:hover {
  color: rgba(var(--color-black), 0.6);
}

.sorting-options .selected,
.sorting-options a:active {
  color: rgb(var(--color-black));
}

/*Sorting-control*/

.sorting-control path {
  fill: var(--gray-166);
  opacity: 0.2;
}

.sorting-control.active path {
  fill: var(--color-neutral-dark);
  opacity: 1;
}

.sorting-control path:hover,
.sorting-control.active path:hover {
  fill: var(--gray-166);
  opacity: 1;
}

.sorting-control path:active,
.sorting-control.active path:active {
  fill: var(--color-neutral-dark);
}

/*Catalog*/

.catalog-list {
  list-style: none;
}

.catalog-list-info {
  width: 360px;
  background-color: var(--gray-238);
}

.catalog-list-info p {
  line-height: 18px;
  color: var(--gray-102);
}

.catalog-item-title:hover {
  color: var(--color-alpha);
}

a.catalog-item-title:active,
a.catalog-item-title:focus {
  color: rgba(var(--color-black), 0.3);
}

/* Pagination */

.pagination-list {
  line-height: 16px;
  font-weight: 500;
  list-style: none;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 3px solid var(--gray-219);
  color: rgb(var(--color-black));
  background-color: var(--basic-white);
  box-shadow: none;
}

/* Footer-information */

 .main-footer {
  outline: 5px solid rgba(255, 0, 0, 0.5);
  outline-offset: -5px;
}

.footer-map {
  width: 100%;
  height: 418px;
  background-color: rgb(var(--color-white));
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 110px;
}

.footer-wrapper {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  height: 416px;
  outline: 5px solid rgba(0, 226, 19, 0.8);
  outline-offset: -5px;
}

.footer-contacts-card {
  box-sizing: border-box;
  position: absolute;
  margin: 54px auto;
  padding: 40px;
  background-color: rgb(var(--color-white));
  width: 319px;
  height: 308px;
}
/*
.footer-map-marker {
  width: 1440px;
  height: 416px;
  background-image: url("../img/map-marker.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 822px 86px;
}
*/

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(var(--color-black));
  text-transform: uppercase;
}

.footer-contacts-card address,
.contacts-phone {
  line-height: 18px;
  color: var(--gray-102);
  font-style: normal;
  text-align: left;
}

.contacts-button {
  margin-top: 37px;
}

/* Footer-social */

.footer-social {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  padding: 0;
  border-radius: 50%;
  background: linear-gradient(0deg, var(--gray-225), var(--gray-225)),
    rgb(var(--color-white));
}

.social-button:hover {
  background: linear-gradient(
      0deg,
      var(--color-alpha-dark),
      var(--color-alpha-dark)
    ),
    rgb(var(--color-white));
}

.social-button:active {
  background: linear-gradient(
      0deg,
      var(--color-alpha-darkest),
      var(--color-alpha-darkest)
    ),
    rgb(var(--color-white));
}

.footer-discount b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(var(--color-black));
}

.footer-discount p {
  line-height: 22px;
  color: var(--gray-68);
}

/* Modal */

.modal {
  display: none;
}
.modal-title {
  font-size: 45px;
  line-height: 52.73px;
  font-weight: 700;
  color: rgb(var(--color-black));
}

.modal-form label {
  line-height: 18px;
  font-weight: 700;
  color: rgb(var(--color-black));
}

.modal-form-element {
  color: var(--gray-68);
  border: 2px solid var(--color-neutral-lightest);
  border-radius: 3px;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border-color: var(--color-neutral-light);
}

.modal-form input:focus,
.modal-form textarea:focus {
  outline: none;
  color: var(--gray-68);
  border-color: rgb(var(--color-black));
}

.modal-form input:invalid,
.modal-form textarea:invalid {
  color: var(--color-alpha-dark);
  border-color: var(--color-alpha-dark);
}

.modal-form input::-webkit-input-placeholder,
.modal-form textarea::-webkit-input-placeholder {
  color: var(--gray-68);
  opacity: 0.5;
}

.modal-form input:focus::-webkit-input-placeholder,
.modal-form textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}
section,
section.slider {
  outline: 2px solid rgba(255, 0, 212, 1);
  outline-offset: -5px;
}
