/* Variables */

:root {
  --color-alpha: #fb565a;
  --color-alpha-dark: #e74246;
  --color-alpha-darkest: #d7373b;
  --color-beta: #00ca74;
  --color-beta-dark: #00bc6c;
  --color-beta-darkest: #00aa62;
  --color-gamma: #efc849;
  --color-gamma-dark: #eab534;
  --color-gamma-darkest: #e5a722;
  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;
  --color-black-light: 0, 1, 1;
  --color-neutral: #283136;
  --color-neutral-rgb: 40, 49, 54;
  --color-neutral-dark: #231f20;
  --color-neutral-light: #b4b9bb;
  --color-neutral-lightest: #d7dcde;
  --gray-238: #eeeeee;
  --gray-225: #e1e1e1;
  --gray-223: #dfdfdf;
  --gray-219: #dbdbdb;
  --gray-213: #d5d5d5;
  --gray-193: #c1c1c1;
  --gray-171: #ababab;
  --gray-166: #a6a6a6;
  --gray-102: #666666;
  --gray-77: #4d4d4d;
  --gray-68: #444444;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: var(--color-neutral);
  background-color: rgb(var(--color-white));
  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Common*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a:not(.button):visited {
  color: rgb(var(--color-black));
}

.wrapper {
  width: 1160px;
  padding: 0 20px;
  margin: auto;
}

/*Buttons*/

.button {
  display: inline-block;
  padding: 16px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(var(--color-white));
  background-color: var(--color-alpha);
  border: none;
  border-radius: 3px;
  width: 140px;
  box-sizing: border-box;
  outline-color: transparent;
}

.button:hover {
  background-color: var(--color-alpha-dark);
}

.button:active,
.button:focus {
  color: rgba(var(--color-white), 0.3);
  background-color: var(--color-alpha-darkest);
  box-shadow: inset 0 3px 0 0 rgba(var(--color-black-light), 0.1);
}

.button-control {
  color: rgb(var(--color-black));
  background-color: var(--gray-238);
}

.button-control:hover {
  background-color: var(--gray-223);
}

.button-control:focus,
.button-control:active {
  color: rgba(var(--color-black), 0.3);
  background-color: var(--gray-213);
}

/*Header*/

.header {
  min-height: 66px;
  display: flex;
}

.main-header {
  background-color: var(--gray-238);
  margin-bottom: 0;
  padding-top: 48px;
}

/* Main navigation */

.main-navigation {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: rgb(var(--color-black));
  margin-left: 202px;
  padding-top: 26px;
  display: flex;
  flex-grow: 1;
 }

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navigation {
  min-width: 437px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation,
.site-navigation {
  justify-content: space-between;
}

.main-header-logo {
  justify-self: start;
  width: 160px;
  height: 65px;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active,
.main-header-logo:focus {
  opacity: 0.3;
}

.cart-link {
  position: relative;
  padding-left: 45px;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--color-alpha);
  border-bottom: none;
}

.site-navigation a:active,
.user-navigation a:active,
.site-navigation a:focus,
.user-navigation a:focus {
  color: rgba(var(--color-black), 0.3);
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.current {
  border-bottom: 2px solid var(--color-alpha);
  padding-bottom: 5px; /*23px по макету*/
}

/* Slider */

.slider {
  background-color: var(--gray-238);
  position: relative;
  min-height: 431px;
}

.slider-list {
  width: 100%;
  height: 100%
}

.slider-list,
.slider-controls {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-item {
  border-top: 1px solid transparent;
  min-height: 430px;
  background-position: 397px -1px;
  background-repeat: no-repeat;
}

.slide-title {
  color: rgb(var(--color-black));
  font-size: 55px;
  line-height: 56px;
  font-weight: 500;
  margin-top: 76px;
  margin-bottom: 25px;
  max-width: 525px;
}

.slide-text {
  color: var(--color-neutral);
  margin-top: 25px;
}

.slider-item .button {
  position: absolute;
  bottom: 81px;
  width: 240px;
}

.slide-1 {
  background-image: url(../img/nerds-index-slide1.png);
}

.slide-2 {
  background-image: url(../img/nerds-index-slide2.png);
}

.slide-3 {
  background-image: url(../img/nerds-index-slide3.png);
}

.slider .wrapper {
  position: relative;
}

.slider-controls {
  position: absolute;
  bottom: 91px;
  left: 556px;
  min-width: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider-button {
  width: 18px;
  height: 18px;
  border: solid 1px transparent;
  border-radius: 9px;
  border-color: transparent;
  background-color: rgb(var(--color-white));
  outline-color: transparent;
}

.slider-button.active {
  box-shadow: inset 0 0 0 4px rgb(var(--color-white)),
              inset 0 0 0 6px var(--gray-193);
}

/* Services */

.services-list {
  list-style: none;
  display: flex;
  min-height: 410px;
  margin-top: 80px;
  padding: 0;
}

.services-item {
  width: 300px;
  margin-right: 100px;
}

.services-item:last-child {
  margin-right: 0;
}

.service-title {
  color: rgb(var(--color-black));
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px 0 0;
}

.service-text {
  width: 260px;
}

.services-item a {
  margin-top: 16px;
  width: 160px;
}

.button-green {
  background-color: var(--color-beta);
}

.button-green:hover {
  background-color: var(--color-beta-dark);
}

.button-green:active {
  background-color: var(--color-beta-darkest);
  box-shadow: inset 0 3px 0 0 rgba(var(--color-black-light), 0.1);
}

.button-yellow {
  background-color: var(--color-gamma);
}

.button-yellow:hover {
  background-color: var(--color-gamma-dark);
}

.button-yellow:active {
  background-color: var(--color-gamma-darkest);
  box-shadow: inset 0 3px 0 0 rgba(var(--color-black-light), 0.1);
}

/* About */

.about {
  margin-bottom: 5px;
}

.about-grid {
  display: flex;
  padding-top: 39px;
  min-height: 482px;
  border-top: 2px solid var(--gray-238);
}

.about-info {
  width: 760px;
  padding-top: 34px;
}

.about-title {
  color: rgb(var(--color-black));
  font-size: 45px;
  line-height: 46px;
  font-weight: 500;
  margin: 0;
}

.about-info p {
  margin-top: 32px;
  width: 660px;
}

.about-subtitle {
  font-size: 16px;
  text-transform: uppercase;
}

.about-info .about-subtitle {
  margin-top: 41px;
}

.order-list {
  list-style: none;
  margin-top: 23px;
  padding-left: 36px;
}

.order-item {
  position: relative;
  margin-bottom: 24px;
}

.order-item::before {
  display: block;
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--color-alpha);
  left: -35px;
  top: 11px;
}

.about-stat {
  margin-left: 40px;
  width: 360px;
}

.about-stat .about-subtitle {
  color: rgb(var(--color-black));
  text-align: center;
  padding-top: 14px;
  padding-left: 3px;
  margin-bottom: 20px;
}

.stat-table {
  margin-top: 25px;
  border-collapse: collapse;
}

.stat-table th {
  color: rgb(var(--color-black));
  font-size: 45px;
  line-height: 66px;
  font-weight: 700;
  padding: 6px 0;
}

.stat-table sup {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-bottom;
}

.stat-table td {
  line-height: 18px;
  padding: 6px 0;
}

.stat-table th,
.stat-table td {
  min-width: 120px;
  text-align: left;
}

/* Partners */

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  border-top: 2px solid var(--gray-238);
  border-bottom: 2px solid var(--gray-238);
}

.partners a {
  margin-right: -21px;
}

.partners-academy img {
  margin-right: -4px;
  padding-left: 32px;
}

.partners-borodinski img {
  margin-top: -17px;
  margin-left: 2px;
  padding-left: 24px;
}

.partners-pink img {
  margin-top: 2px;
  padding-left: 39px;
}

.partners-mishka img {
  margin-top: 52px;
  padding-left: 44px;
}

.partners a:not(:last-child) {
  border-right: 2px solid var(--gray-238);
  height: 52px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.partners img {
  opacity: 0.2;
}

.partners img:hover {
  opacity: 1;
}

.partners img:active {
  opacity: 0.1;
}

/*Page-catalog*/

.catalog-content {
  display: grid;
  grid-template-columns: 360px 1fr;
  align-content: start;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  padding-top: 55px;
}

.page-catalog-title {
  margin: 0;
  padding-top: 72px;
  padding-bottom: 108px;
  width: 100%;
  background-color: var(--gray-238);
  text-align: center;
}

.page-catalog-title h1 {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: rgb(var(--color-black));
}

.filter legend,
.sorting h2,
.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  color: rgb(var(--color-black));
  font-weight: 700;
  text-transform: uppercase;
}

/*Filters*/

.price-filter {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--gray-225);
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--color-neutral-lightest);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--color-beta);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid rgb(var(--color-white));
  background-color: var(--gray-171);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(var(--color-black), 0.15);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.filter ul {
  list-style: none;
}

.price-filter span {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-input {
  display: none;
}

.filter-option label {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  margin: 10px;
}

.filter-option label::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: -30px;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-radio label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-checkbox label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input:hover + label::before {
  opacity: 1;
}

.filter-input:disabled + label {
  color: rgba(var(--color-neutral-rgb), 0.3);
}

.filter-input:disabled + label::before {
  opacity: 0.1;
}

/*Sorting*/

.catalog-wrapper {
  width: 760px;
  padding: 0 140px;
}

.sorting {
  outline: 5px solid rgba(62, 0, 161, 0.7);
  outline-offset: -5px;
}

.sorting h2 {
  margin: 0;
  padding: 0;
}

.sorting-options,
.sorting-control-list {
  list-style: none;
}

.sorting-options a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: rgba(var(--color-black), 0.3);
}

.sorting-options a:hover {
  color: rgba(var(--color-black), 0.6);
}

.sorting-options .selected,
.sorting-options a:active {
  color: rgb(var(--color-black));
}

/*Sorting-control*/

.sorting-control path {
  fill: var(--gray-166);
  opacity: 0.2;
}

.sorting-control.active path {
  fill: var(--color-neutral-dark);
  opacity: 1;
}

.sorting-control path:hover,
.sorting-control.active path:hover {
  fill: var(--gray-166);
  opacity: 1;
}

.sorting-control path:active,
.sorting-control.active path:active {
  fill: var(--color-neutral-dark);
}

/*Catalog*/

.catalog-wrapper {
  outline: 5px solid rgba(0, 211, 130, 0.7);
  outline-offset: -5px;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 52px 0 0;
  outline: 5px solid rgba(0, 21, 211, 0.7);
  outline-offset: -5px;
}

.catalog-item {
  position: relative;
  width: 360px;
  height: 620px;
  margin-right: 40px;
  margin-bottom: 33px;
  outline: 5px solid rgba(189, 255, 8, 0.7);
  outline-offset: -5px;
}

.catalog-item::before {
  content: "";
  display: block;
  width: 360px;
  height: 40px;
  background-image: url(../img/browser.svg);
  opacity: 0.12;
}

.catalog-list-info {
  background-color: var(--gray-238);
  display: none;
  position: absolute;
  width: 360px;
  min-height: 230px;
  left: 0;
  bottom: 0;
}

.catalog-list-info p {
  line-height: 18px;
  color: var(--gray-102);
}

.catalog-item:hover .catalog-list-info {
display: block;
}

.catalog-item-title:hover {
  color: var(--color-alpha);
}

a.catalog-item-title:active,
a.catalog-item-title:focus {
  color: rgba(var(--color-black), 0.3);
}

/* Pagination */

.pagination-list {
  line-height: 16px;
  font-weight: 500;
  list-style: none;
  display: flex;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: 3px solid var(--gray-219);
  color: rgb(var(--color-black));
  background-color: var(--basic-white);
  box-shadow: none;
}

/* Footer-information */

 .main-footer {
  margin-top: 80px;
  margin-bottom: 68px;
}

.footer-map {
  width: 100%;
  height: 418px;
  background-color: rgb(var(--color-white));
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 68px;
}

.footer-wrapper {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  height: 416px;
}

.footer-contacts-card {
  box-sizing: border-box;
  position: absolute;
  top: 55px;
  margin: 0 auto;
  padding: 0 50px;
  background-color: rgb(var(--color-white));
  width: 319px;
  min-height: 308px;
}

/*
.footer-map-marker {
  width: 1440px;
  height: 416px;
  background-image: url("../img/map-marker.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 822px 86px;
}
*/

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(var(--color-black));
  text-transform: uppercase;
  margin-top: 49px;
  margin-bottom: 22px;
}


.footer-contacts-card address,
.contacts-phone {
  line-height: 18px;
  color: var(--gray-102);
  font-style: normal;
  text-align: left;
}

.contacts-button {
  margin-top: 37px;
  width: 219px;
}

/* Footer-social */

.footer-social {
  display: grid;
  grid-template-columns: 261px 760px;
  column-gap: 139px;
}

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 0;
  border-radius: 50%;
  background: linear-gradient(0deg, var(--gray-225), var(--gray-225)),
    rgb(var(--color-white));
}

.social-button:hover {
  background: linear-gradient(
      0deg,
      var(--color-alpha-dark),
      var(--color-alpha-dark)
    ),
    rgb(var(--color-white));
}

.social-button:active {
  background: linear-gradient(
      0deg,
      var(--color-alpha-darkest),
      var(--color-alpha-darkest)
    ),
    rgb(var(--color-white));
}

.footer-discount {
  padding-top: 4px;
}
.footer-discount b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(var(--color-black));
}

.footer-discount p {
  line-height: 22px;
  color: var(--gray-68);
  margin-top: 10px;
}

/* Modal */

.modal-show {
  display: none;
}

.modal-feedback {
  position: fixed;
  bottom: 220px;
  left: 280px;
  top: 0;
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  padding: 63px 100px;
  background-color: rgb(var(--color-white));
  box-shadow: 0 20px 40px rgba(var(--color-black), 0.4);
}

.modal-feedback h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: rgb(var(--color-black));
  margin: 0 0 6px;
  padding: 0;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-form p {
  margin: 30px 0 0;
  padding: 0;
}

.modal-form label {
  line-height: 18px;
  font-weight: 700;
  color: rgb(var(--color-black));
}

.modal-form-element {
  color: var(--gray-68);
  border: 2px solid var(--color-neutral-lightest);
  border-radius: 3px;
  display: block;
  width: 360px;
  height: 50px;
  padding: 10px 16px;
  box-sizing: border-box;
  margin-top: 10px;
}

textarea.modal-form-element {
  resize: none;
  width: 760px;
  height: 114px;
  padding: 10px 16px;
  box-sizing: border-box;
  margin-top: 10px;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border-color: var(--color-neutral-light);
}

.modal-form input:focus,
.modal-form textarea:focus {
  outline: none;
  color: var(--gray-68);
  border-color: rgb(var(--color-black));
}

.modal-form input:invalid,
.modal-form textarea:invalid {
  color: var(--color-alpha-dark);
  border-color: var(--color-alpha-dark);
}

.modal-form input::-webkit-input-placeholder,
.modal-form textarea::-webkit-input-placeholder {
  color: var(--gray-68);
  opacity: 0.5;
}

.modal-form input:focus::-webkit-input-placeholder,
.modal-form textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}

.button-send {
  width: 259px;
  border: 0;
  margin-top: 50px;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url(../img/close-cross.svg);
  opacity: 0.3;
  border: 0;
  cursor: pointer;
}
